<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lilong.mall.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="object">
        insert into mall_order(order_state, order_account, shopping_id, user_id, order_price, pay_style, create_time)
        values (#{orderState},#{orderAccount},#{shoppingId},#{userId},#{orderPrice},#{payStyle},#{createTime})
    </insert>
</mapper>